!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{href: "//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,cyrillic,latin-ext", rel: "stylesheet", type: "text/css"}
    %link{href: "bootstrap.css", rel: "stylesheet", type: "text/css"}
    -# %link{href: "css/style.css", rel: "stylesheet", type: "text/css"}
    -# %link{href: "css/royalslider.css", rel: "stylesheet", type: "text/css"}
    -# %script{src: "js/jquery-1.8.3.min.js", type: "text/javascript"}
    -# %script{src: "js/jquery.royalslider.min.js", type: "text/javascript"}
    -# %script{src: "js/script.js", type: "text/javascript"}

    %title Okedel

  %body
    .header 
      .wrap
        %header.main
          .head.clearfix
            %a.h-logo.pull-left{href:"#"}
              %img{src:"images/logo.png", alt:""}
            .h-pcode.pull-left
              %p 
                Your Discount ID:
                %span
                  50-50-50-50
            .h-number.pull-left.clearfix
              .vert-title.pull-left
                CALL
                %br
                24/7
              %span.h-call-number.pull-left 121234123456
            %ul.h-links.pull-right
              %li
                %a{href:"#"} Request a callback
              %li
                %p.icon-skype
                  %a{href:"#"} okedel
          %ul.menu.clearfix
            %li
              %a{:href => ""}   
                home
            %li
              %a{:href => ""}   
                special ofers
            %li
              %a{:href => ""}   
                Business and First Class 
            %li
              %a{:href => ""}    
                Customer Service
            %li
              %a{:href => ""}    
                About us
            %li.pull-right
              %a{:href => ""}    
                My trip
    .slider_area
      #full-width-slider.heroSlider.rsMinW
        .rsContent
          %img.rsImg{:src => "images/bg1.jpg", :alt => ""}/
        .rsContent
          %img.rsImg{:src => "images/bg2.jpg", :alt => ""}/  
        .rsContent
          %img.rsImg{:src => "images/bg3.jpg", :alt => ""}/    
      
      .slider_wrap
        .slider_top
          ss





          



          



